@model IEnumerable<SAMDesign.Abstractions.UIModules.StatusDTO>

<div class="table-responsive">
    <table class="table w-100" id="statusTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.statusID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.modifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.modifiedBy)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.statusID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.modifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.modifiedBy)
                    </td>
                    <td>
                        <a href="#"
                           data-id="@item.statusID"
                           class="btn btn-sm btn-outline-primary EditStatus"
                           title="Editar">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        |
                        <a href="#"
                           data-id="@item.statusID"
                           class="btn btn-sm btn-outline-danger DeleteStatus"
                           title="Eliminar">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>