@model IEnumerable<SAMDesign.Abstractions.UIModules.ProductsDTO>

@{
    ViewBag.Title = "ListAdmin";
}

<h2>ListAdmin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_on)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_on)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_by)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img_path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_on)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_on)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_by)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
