@model IEnumerable<SAMDesign.Abstractions.UIModules.CategoryDTO>

<p>
    @Html.ActionLink("+",
                    "Create",
                    "Category",
                    null,
                    new { @class = "AddCategory" })
</p>
<div class="table-responsive">
    <table class="table" id="categoryTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.categoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.categoryDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdOn)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoryDescription)
                    </td>
                    <td>
                        @if (item.status == 13)
                        {
                            <span class="badge bg-success">Activo</span>
                        }
                        else if (item.status == 14)
                        {
                            <span class="badge bg-danger">Inactivo</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdOn)
                    </td>
                    <td>
                        @*El url se puede usar razon con el helper de Url.Action*@
                       <a href="#"
                           data-id="@item.categoryID"
                           class="btn btn-sm btn-outline-primary EditCategory"
                           title="Editar">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        |
                        <a href="#"
                           data-id="@item.categoryID"
                           class="btn btn-sm btn-outline-danger DeleteCategory"
                           title="Eliminar">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

