@model IEnumerable<SAMDesign.Abstractions.UIModules.CategoryDTO>
<div class="table-responsive">
    <table class="table" id="categoryTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.categoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.categoryDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.updatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.updatedOn)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoryDescription)
                    </td>
                    <td>
                        @{
                            var statusDict = ViewBag.StatusDict as Dictionary<int, string>;
                            var statusName = statusDict != null && statusDict.ContainsKey(item.status)
                                ? statusDict[item.status]
                                : "Desconocido";
                            string badgeClass;

                            switch (item.status)
                            {
                                case 13:
                                    badgeClass = "bg-success"; // Activo
                                    break;

                                case 14:
                                    badgeClass = "bg-danger"; // Inactivo
                                    break;

                                case 15:
                                    badgeClass = "bg-warning text-dark"; // Pendiente
                                    break;

                                case 16:
                                    badgeClass = "bg-info text-dark"; // En revisión
                                    break;

                                default:
                                    badgeClass = "bg-secondary"; // Otro
                                    break;
                            }
                        }
                        <span class="badge @badgeClass">
                            @statusName
                        </span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.updatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.updatedOn)
                    </td>
                    <td>
                        <a href="#"
                           data-id="@item.categoryID"
                           class="btn btn-sm btn-outline-primary EditCategory"
                           title="Editar">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        |
                        <a href="#"
                           data-id="@item.categoryID"
                           class="btn btn-sm btn-outline-danger DeleteCategory"
                           title="Eliminar">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>