<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SAM DESIGN</title>
    <link rel="website icon" href="../../icons/logo_pequeño-removebg-preview.png" type="png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/css/normalize.css" rel="preload" as="style" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/Scripts/DataTable/dataTables.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body>
    <header class="header">
        <section id="main-header" class="m-0 p-0 text-bg-color " style="background-color:#eee; width: 100%">
            <div class="container ">
                <div class="row justify-content-center align-items-center">
                    <div class="contenedor-img col-8 ">
                        <a href="../Home">
                            <img src="../../icons/montañas.png" class="img-header img-fluid" alt="Montanas" />
                        </a>
                    </div>
                    <div class="col-4 row justify-content-end text-center ">
                        <ul class="p-1 m-0 col-2 align-self-end " style="width: 100px; list-style: none;">
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand m-0 py-0 pl-4 pr-2" href="../Home">
                <img src="../../icons/logo_pequeño-removebg-preview.png" class="img-responsive" alt="Responsive image" width="94" height="94" />
            </a>
            <div class="collapse navbar-collapse  justify-content-evenly" id="navbarCollapse">
                <ul class="navbar-nav " style="font-size:1.5rem ; padding: 0 ">
                    <li class="nav-item px-3 py-4"><a class="nav-link text-white" href="../Home">HOME</a></li>
                    <li class="nav-item px-3 py-4">
                        <div class="dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown">
                                PRODUCTOS
                            </a>
                            <div class="dropdown-menu shadow" style="border-radius: 0; border: none; background-color: #eee/#475a68" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item nav-link text-black" href="../../src/productos/accesoriosMain.php">ACCESORIOS</a>
                                <a class="dropdown-item nav-link text-black" href="../../src/productos/repuestosMain.php">REPUESTOS</a>
                                <a class="dropdown-item nav-link text-black" href="../../src/productos/llantasMain.php">LLANTAS</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item px-3 py-4">
                        <div class="dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown">
                                TEXTILES
                            </a>
                            <div class="dropdown-menu shadow" style="border-radius: 0; border: none; background-color: #eee/#475a68" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item nav-link text-black" href="../../src/textiles/impermeableMain.php">SUETAS</a>
                                <a class="dropdown-item nav-link text-black" href="../../src/textiles/camisasMain.php">CAMISAS</a>
                                <a class="dropdown-item nav-link text-black" href="../../src/textiles/guantesMain.php">GUANTES</a>
                                <a class="dropdown-item nav-link text-black" href="../../src/textiles/uniformesMain.php">UNIFORMES</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item px-3 py-4">
                        <div class="dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown">
                                ABOUT
                            </a>
                            <div class="dropdown-menu shadow" style="border-radius: 0; border: none; background-color: #eee/#475a68" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item nav-link text-black" href="../About">CONTACTOS</a>
                                <a class="dropdown-item nav-link text-black" href="../About">NOSOTROS</a>
                            </div>
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item px-3 py-4">
                            <div class="dropdown">
                                <a class="nav-link text-white dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   data-bs-auto-close="outside">
                                    ADMIN
                                </a>
                                <div class="dropdown-menu shadow" style="border-radius: 0; border: none; background-color: #eee/#475a68" aria-labelledby="dropdownMenuLink">
                                    <div class="dropend d-flex align-items-center">
                                        @Html.ActionLink(
                                            "PRODUCTOS",
                                            "ListAdmin",
                                            "Products",
                                            null,
                                            new { @class = "dropdown-item nav-link text-black" }
                                        )

                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-split px-2"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                        </button>

                                        <ul class="dropdown-menu">
                                            <li>
                                                @Html.ActionLink(
                                                    "Categorias",
                                                    "List",
                                                    "Category",
                                                    null,
                                                    new { @class = "dropdown-item nav-link text-black CategoryList" }
                                                )
                                            </li>
                                            @* aquí metés más opciones del submenú si querés *@
                                        </ul>
                                    </div>

                                    <a class="dropdown-item nav-link text-black" href="../../src/admin/Inventario.php">INVENTARIO</a>
                                    <a class="dropdown-item nav-link text-black" href="../../src/admin/adminOrdenes.php">ORDENES</a>
                                    <a class="dropdown-item nav-link text-black" href="../../src/admin/adminBilling.php">FACTURAS</a>
                                    <div>
                                        <div class="dropend d-flex align-items-center">
                                            <a class="dropdown-item nav-link text-black" href="#">IT</a>
                                            <button class="btn btn-link dropdown-toggle dropdown-toggle-split px-2"
                                                    type="button"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    @Html.ActionLink(
                                                        "Estados",
                                                        "List",
                                                        "Status",
                                                        null,
                                                        new { @class = "dropdown-item nav-link text-black StatusList" }
                                                    )
                                                </li>
                                                <li>
                                                    @Html.ActionLink(
                                                        "Categorias",
                                                        "List",
                                                        "Category",
                                                        null,
                                                        new { @class = "dropdown-item nav-link text-black CategoryList" }
                                                    )
                                                </li>
                                                <li>
                                                    @Html.ActionLink(
                                                          "Event Logs",
                                                          "ListLogs",
                                                          "EventLog",
                                                          null,
                                                          new { @class = "dropdown-item nav-link text-black" }
                                                      )
                                                </li>
                                                @* aquí metés más opciones del submenú si querés *@
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    <li class="nav-item px-3 py-4"><a class="nav-link text-white" href="../../src/carrito.php"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </div>

            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SAM Design WebApplication</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/CategoryType/Category.js"></script>
    <script src="~/Scripts/Status/Status.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/DataTable/dataTables.min.js"></script>
    <script src="~/Scripts/SweetAlert/sweetalert2@11.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

@*BEGIN section of category*@

@*List MODAL CATEGORIES*@

<!-- Modal -->
<div class="modal fade" id="staticBackdropCategoryList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropCategoryListLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropCategoryListLabel">Lista de categorias</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* Modal Agregar Categoria *@
<div class="modal fade" id="staticBackdropAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropAddModalLabel">Agregar categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submitCategory">Agregar</button>
            </div>
        </div>
    </div>
</div>


@* Modal EDITAR Categoria *@
<div class="modal fade" id="staticBackdropEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropEditModalLabel">Editar categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submitEditCategory">Guardar</button>
            </div>
        </div>
    </div>
</div>
@*END section of category*@



@*BEGIN section of STATUS*@

@*List MODAL STATUS*@
<div class="modal fade" id="staticBackdropStatusList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropStatusListLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropStatusListLabel">Lista de estados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@*END section STATUS*@